/* 🔹 Contenedor de botones dentro de celdas */
.acciones-celda {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xxs);
  margin-top: var(--spacing-xxs);
  flex-wrap: wrap;
}

.acciones-celda button {
  background: var(--background-color-light);
  border: none;
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-normal);
  transition: background 0.2s ease;
}
.acciones-celda button:hover {
  background-color: var(--border-color);
}

.zona-leyenda:hover .acciones-entidad {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}




/* 🔹 Botones funcionales de asignación */
.btn-agregar,
.btn-eliminar-asignacion,
.btn-editar-asignacion {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xxs);
  border: none;
  color: var(--background-color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50% !important;
  padding: var(--spacing-xxs) !important;
  width: 36px !important;
  height: 36px !important;
  font-size: var(--font-size-large) !important;

}

/* 🔹 Mostrar botones solo al hacer hover sobre la celda */
.celda-asignacion:hover .btn-agregar,
.celda-asignacion:hover .btn-eliminar-asignacion,
.celda-asignacion:hover .btn-editar-asignacion {
  display: inline-flex;
  opacity: 1;
  pointer-events: auto;
}

/* 🔹 Contenedor de acciones de entidad */
.acciones-entidad {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  display: flex;
  gap: var(--spacing-xs);
  justify-content: center;
  visibility: hidden;
}




/* 🔹 Botones de entidad (estilo visual separado) */
.acciones-entidad button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xxs);
  font-size: var(--font-size-large);
  border-radius: 50%;
  border: none;
  width: 36px;
  height: 36px;
  color: var(--background-color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 🔹 Hover visual para botones de entidad */
.acciones-entidad button:hover {
  background-color: var(--background-color-light);;
}
