.comentario-wrapper {
  position: relative;
  display: inline-block;
}

.comentario-toggle {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--font-size-small);
  font-weight: 500;
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius-sm);
  transition: background-color 0.2s ease, color 0.2s ease;
  display: inline-block;
  margin-top: var(--spacing-xxs);
  color: var(--primary-color);
  cursor: pointer;

}

.comentario-toggle i {
  color: var(--text-color-dark);
  margin-right: var(--spacing-xxs);
  font-size: var(--font-size-large);
  vertical-align: middle;
}


.comentario-toggle:hover {
  background-color: var(--background-color-light);
  color: var(--primary-color);
}

.comentario-wrapper:hover .comentario-flotante {
  opacity: 1;
  visibility: visible;
  transform: translateX(8px);
}

.comentario-flotante {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: var(--spacing-xs);
  background-color: var(--background-color-white);
  color: var(--text-color-dark);
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-normal);
  line-height: 1.5;
  font-style: italic;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 4px 12px var(--shadow-color);

  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;

  width: max-content;
  max-width: 480px;
  min-width: 180px;

  z-index: var(--z-index-sweet-alert);
  overflow: visible;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease;


}

#comentario-global {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  background: var(--background-color-light);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 2px 12px var(--shadow-color);

  font-size: var(--font-size-normal);
  line-height: 1.5;
  color: var(--text-color-dark);
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

  width: auto;
  max-width: 480px;
  min-width: 180px;

}



#comentario-global {
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
