.btn-editar-asignacion,
.btn-eliminar-asignacion {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50% !important;
  width: 36px !important;
  height: 36px !important;
  font-size: var(--font-size-large) !important;
  color: var(--text-color-dark);
}

.btn-editar-asignacion:hover,
.btn-eliminar-asignacion:hover {
  background-color: var(--border-color);
}