* {
   font-family: 'Segoe UI', sans-serif; 
}
#contenedor-admin {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding-left: 24px; /* Alineado con leyenda */
}



#contenedor-logout {
  margin-bottom: 15px;
  padding-right: 24px; /* Alineado a la derecha */
}
#contenedor-botones {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
    }
#botones-izquierda {
      display: flex;
      gap: 10px;
    }
#contenedor-botones .tab-btn {
      padding: 8px 16px;
      font-size: 14px;
    }
#contenedor-logout {
      display: none; /* Inicialmente oculto, se mostrará según autenticación */
    }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

}


h2 {
  margin-top: 1%;        
  margin-left: 20px;              
  font-size: 1.8rem;
  font-weight: 600;
  color: #263238;
}

.fas {
  color: #1976d2;
  margin-right: 6px;
  font-size: 1rem;
  vertical-align: middle;
}

.swal2-container {
  z-index: 10001 !important; /* 🔝 superior al modal */
}



    