#leyenda-colores {
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-large);
  padding-left: var(--spacing-lg);
  font-size: var(--font-size-large);

}


.leyenda-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.leyenda-bloque {
  display: inline-block;
  margin: var(--spacing-xxs);
  padding: var(--spacing-xxs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  font-weight: bold;
  font-size: var(--font-size-small);
}
