#turno-tabs {
  display: flex;
  gap: 50px;
  margin-bottom: 0px;
  padding-left: 5%;
  
}

.tab-btn {
    font-size: 1rem;
  padding: 6px 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.tab-btn.active {
  background: #2196f3;
  color: white;
}

#almapa{
  margin-left: auto;

}