.turno-tabs {
  display: flex;
  gap: var(--spacing-xl);
  margin-bottom: 0px;
  padding-left: 5%;

}

.tab-btn {
    font-size: var(--font-size-large);
  padding: var(--spacing-xxs) var(--spacing-sm);
  border: none;
  background: var(--background-color-light);
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--border-radius-sm);
  color: var(--text-color-dark);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.tab-btn:hover {
  background-color: var(--border-color);
}

.tab-btn.active {
  background: var(--primary-color);
  color: var(--background-color-white);
}

#almapa{
  margin-left: auto;

}